@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* IE */
main {
  display: block;
}

/*font読み込み*/
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, p, q, samp,
small, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 0.520835vw;
  overflow: visible;
}

body {
  font-family: "Cinzel", "Noto Serif JP", Arial, "Hiragino Sans", Meiryo, sans-serif;
  font-size: 88%;
  line-height: 1.5;
  font-weight: 400;
  min-width: 1100px;
  color: #2E1616;
  text-align: justify;
  background-color: #fff;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 1px;
  }
}
main {
  display: block;
}

p img {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a.noneOutline {
  outline: none;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, nav {
  display: block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
ul {
  list-style: none;
}

/*引用符の表示が出ないようにしています*/
blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
  color: #845b33;
}

a img {
  border: none;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  padding: 0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
  vertical-align: middle;
}

/*画像を縦に並べたときに余白が出てしまわないように*/
img {
  vertical-align: bottom;
}

.clearfix:after {
  content: "."; /* 新しい要素を作る */
  display: block; /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*/ /*/
height: auto;
overflow: hidden;
/**/
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=submit],
input[type=button] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

input[type=date] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  background-color: #fff;
  height: 36px;
  padding: 8px;
  box-sizing: border-box;
}

input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}

input[type=submit]::focus,
input[type=button]::focus {
  outline-offset: -2px;
}

textarea {
  border: none;
  -webkit-appearance: none;
  max-width: 100%;
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 900;
  src: url("./../fonts/NotoSansCJKjp-Black.woff") format("woff");
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/*-------------------------
    共通
-------------------------*/
.container_max {
  @apply w-[95%] mx-auto;
}

.bg {
  @apply bg-center bg-no-repeat bg-cover;
}

.button__type--a {
  font-size: 12px;
  color: #000;
  width: 147px;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
}
.button__type--a div {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.button__type--a div::after {
  content: "";
  width: 6px;
  height: 1px;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  bottom: 1px;
  display: block;
  background-color: #000;
}

.sec__ttl--big {
  @apply text-center text-black text-[5rem] font-normal;
  letter-spacing: 0.15em;
}

.vertical__center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.fp-watermark {
  display: none;
}

.salon__menu--list {
  @apply rounded-full text-black text-center text-1 py-1 border-solid border border-black block w-full;
}

/*-------------------------
    アニメーション
-------------------------*/
.fadeUpTrigger {
  opacity: 0;
}

.box {
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*-------------------------
    header
-------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
#header .container_max nav {
  min-width: 880px;
}
#header .container_max nav ul li {
  font-size: 12px;
  display: block;
  font-family: "Noto Sans JP", sans-serif;
}
#header .container_max nav ul li a {
  transition: all 0.5s;
}
#header .container_max nav .nav__sns {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
#header.scrolled {
  background-color: #fff;
}
#header.scrolled .container_max ul li a {
  color: #000;
}

#toggle {
  position: fixed;
  top: 4.6rem;
  right: 2%;
  height: 20px;
  width: 40px;
  z-index: 5000;
}
#toggle div span {
  width: 30px;
  background-color: #fff;
  height: 1px;
  position: absolute;
  display: block;
}
#toggle div span:nth-of-type(2) {
  transform: translateY(8px);
}

.navigation {
  width: 100vw;
  z-index: 9999;
  top: 0;
  right: -100%;
  transition: right 0.8s ease-in-out;
}
.navigation.active {
  right: 0;
}
.navigation img.close {
  position: absolute;
  top: 4.7rem;
  right: 4.9rem;
}
.navigation::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 0.2s ease-in-out 0.2s;
}
.navigation.active::before {
  left: 0;
}
.navigation .navigation__wrapper {
  width: 90%;
  height: 100svh;
  margin-left: auto;
  background-color: #274875;
  padding-top: 18rem;
  padding-right: 20rem;
  padding-left: 20rem;
  padding-bottom: 15rem;
}
.navigation .navigation__wrapper .nav__ttl {
  border-bottom: 1px solid #fff;
  padding-bottom: 3.7rem;
  margin-bottom: 8rem;
}
.navigation .navigation__wrapper .nav__ttl ul.sns li {
  margin-right: 6rem;
}
.navigation .navigation__wrapper .nav__ttl ul.sns li:last-child {
  margin-right: 0;
}
.navigation .navigation__wrapper .nav__ttl ul.sns li a {
  width: 28px;
  display: block;
}
.navigation .navigation__wrapper .nav__ttl ul.sns li a svg {
  width: 28px;
  height: 28px;
}
.navigation .navigation__wrapper .nav__content .flex .left {
  width: 35%;
}
.navigation .navigation__wrapper .nav__content .flex .left ul {
  flex-wrap: wrap;
  margin-bottom: 5.5rem;
}
.navigation .navigation__wrapper .nav__content .flex .left ul li {
  width: 45%;
  margin-bottom: 2.5rem;
}
.navigation .navigation__wrapper .nav__content .flex .left ul li a {
  color: #fff;
  font-size: 1.8rem;
}
.navigation .navigation__wrapper .nav__content .flex .left .reserve {
  width: 77%;
}
.navigation .navigation__wrapper .nav__content .flex .left .reserve h2 {
  font-size: 3rem;
  color: #fff;
  font-weight: normal;
  margin-bottom: 1rem;
}
.navigation .navigation__wrapper .nav__content .flex .left .reserve p {
  font-size: 14px;
  color: #fff;
}
.navigation .navigation__wrapper .nav__content .flex .left .reserve a {
  display: block;
  width: 100%;
  text-align: center;
  color: #274875;
  border-radius: 50px;
  padding: 1rem 0 0.7rem 0;
  background-color: #fff;
}
.navigation .navigation__wrapper .nav__content .flex .right {
  width: 55%;
}
.navigation .navigation__wrapper .nav__content .flex .right ul {
  flex-wrap: wrap;
}
.navigation .navigation__wrapper .nav__content .flex .right ul li {
  width: 30%;
  margin-bottom: 3rem;
}
.navigation .navigation__wrapper .nav__content .flex .right ul li a .thumb {
  height: 14rem;
}
.navigation .navigation__wrapper .nav__content .flex .right ul li a h3 {
  font-weight: normal;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}

.float__reserve {
  width: 350px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #274875;
  padding: 30px 0;
  position: fixed;
  right: 0;
  bottom: 5%;
  z-index: 500;
  font-size: 2rem;
  letter-spacing: 0.05em;
  transform: rotate(90deg);
  transform-origin: top right;
}

.reserve_fixed {
  width: 100vw;
  top: 0;
  left: 0;
  height: 100svh;
  z-index: 1000;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.reserve_fixed.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.reserve_fixed::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  transition: left 0.2s ease-in-out 0.2s;
}
.reserve_fixed .reserve__wrapper {
  background-color: #274875;
  margin-top: 24.7vh;
  padding-top: 8.8vh;
  padding-bottom: 9rem;
  padding-left: 9rem;
  color: #fff;
}
.reserve_fixed .reserve__wrapper .float__close {
  display: none;
  cursor: pointer;
  top: -11.2rem;
  right: 0;
  position: absolute;
  width: 350px;
  font-size: 2rem;
  background-color: #fff;
  color: #274875;
  padding: 30px 0;
  text-align: center;
}
.reserve_fixed .reserve__wrapper .reserve__slider {
  overflow: hidden;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide {
  width: 37rem;
  margin-right: 3.7rem;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide .thumb {
  width: 100%;
  height: 25rem;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide h2 {
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #fff;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide strong {
  font-size: 14px;
  letter-spacing: 0.05em;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide .info {
  margin-bottom: 4rem;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide .info dl {
  font-size: 10px;
  margin-bottom: 5px;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide .info dl dt {
  width: 15%;
  border-right: 1px solid #fff;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide .info dl dd {
  width: 80%;
  padding-left: 5%;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide .info dl dd img {
  margin-left: 20px;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide ul.cat__list li {
  width: 23%;
  font-size: 10px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 50px;
  padding: 5px 0;
  margin-right: 2%;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide ul.cat__list li:nth-child(4n) {
  margin-right: 0;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-wrapper .swiper-slide a.reserve__btn {
  width: 100%;
  color: #274875;
  background-color: #fff;
  text-align: center;
  padding: 12px 0 10px 0;
  font-size: 13px;
}
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-button-next::after,
.reserve_fixed .reserve__wrapper .reserve__slider .swiper-button-prev::after {
  color: #fff;
  font-size: 20px;
}
/*-------------------------
    concept
-------------------------*/
#concept .concept__container .concept__content h2 {
  letter-spacing: 0.15em;
}
@media screen and (max-width: 768px) {
  #concept .concept__container .concept__content strong {
    font-size: 20px;
  }
}
#concept .concept__container .concept__img--first {
  background-image: url(./../../images/top/concept_img01.jpg);
}
#concept .concept__container .concept__img--second {
  background-image: url(./../../images/top/concept_img02.jpg);
}

/*-------------------------
    features
-------------------------*/
#features {
  background-color: #E3DFDA;
  position: relative;
  width: 100vw;
}
#features .features__content {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
}
#features .features__content .features__content--items {
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;
  width: 25%;
  flex: 1;
  height: 70vh;
}
@media screen and (max-width: 768px) {
  #features .features__content .features__content--items {
    width: 100%;
    height: auto;
  }
}
#features .features__content .features__content--items:nth-of-type(1) {
  background-image: url(./../../images/top/features_img01.jpg);
  background-size: cover;
  background-position: center;
}
#features .features__content .features__content--items:nth-of-type(2) {
  background-image: url(./../../images/top/features_img02.jpg);
  background-size: cover;
  background-position: center;
}
#features .features__content .features__content--items:nth-of-type(3) {
  background-image: url(./../../images/top/features_img03.jpg);
  background-size: cover;
  background-position: center;
}
#features .features__content .features__content--items:nth-of-type(4) {
  background-image: url(./../../images/top/features_img04.jpg);
  background-size: cover;
  background-position: center;
}
#features .features__content .features__content--items .features__content--ttl {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
#features .features__content .features__content--items:hover {
  width: 100vw;
  flex-grow: 3;
}
#features .features__content .features__content--items:not(:hover) {
  width: 0;
  flex-grow: 0.5;
  opacity: 0.6;
}

/*-------------------------
    SALONS
-------------------------*/
#salons .salon__list li {
  border-right: 1px solid #000;
}
#salons .salon__list li:last-of-type {
  border-right: none;
}

/*-------------------------
    SALONS
-------------------------*/
.salon__content {
  box-sizing: border-box;
}
.salon__content .fp-tableCell {
  vertical-align: top;
}
.salon__content .salons__thumb {
  height: 74vh;
}
.salon__content .tophairterrace {
  background-image: url(./../../images/top/tophairterrace.jpg);
}
.salon__content .tophairlounge {
  background-image: url(./../../images/top/tophairlounge.jpg);
}
.salon__content .salon__info {
  width: 27%;
}
.salon__content .salon__info dl {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}
.salon__content .salon__info dl dt {
  margin-right: 18px;
  width: 10%;
}
.salon__content .salon__info dl dd img {
  margin-left: 8px;
}
.salon__content .salon__info ul li {
  width: 30%;
  font-size: 10px;
  margin-bottom: 10px;
}
.salon__content a.more {
  width: 70px;
  border-bottom: 1px solid #000;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  padding-bottom: 6px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30px;
}

/*-------------------------
    MENU
-------------------------*/
#menu .menu__wrap {
  background-image: url(./../../images/top/menu_bg.jpg);
}
#menu .menu__wrap h2 {
  left: 16rem;
}
#menu .menu__wrap--list {
  background: #fff;
  box-sizing: border-box;
  width: 43%;
  padding-top: 9rem;
  padding-left: 10rem;
  padding-right: 5rem;
}
#menu .menu__wrap--list ul li {
  border-bottom: 1px solid #000;
  padding: 3rem 1rem;
}
#menu .menu__wrap--list ul li a {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#menu .menu__wrap--list ul li a div {
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
#menu .menu__wrap--list ul li a p {
  font-size: 2rem;
}
#menu .menu__wrap--list ul li a span {
  font-size: 1.5rem;
}

/*-------------------------
    NEWS
-------------------------*/
#news {
  width: 100%;
  margin: 17rem auto 0 auto;
}
#news h2 {
  text-align: left;
}
#news dl {
  border-top: 1px solid #000;
}
#news dl:last-of-type {
  border-bottom: 1px solid #000;
}
#news dl dt {
  margin-bottom: 1.7rem;
}
#news dl dt span.time {
  margin-right: 5rem;
}

/*-------------------------
    GALLERY
-------------------------*/
#gallery {
  padding-bottom: 36rem;
}
#gallery .gallery__bg {
  background-image: url(./../../images/top/gallery.jpg);
  padding-top: 160rem;
}
#gallery .gallery__bg--content {
  width: 84%;
  margin-right: auto;
  margin-left: auto;
  bottom: -30rem;
  left: 0;
  right: 0;
}
#gallery .gallery__bg--content--ttl ul li:first-child {
  border-right: 1px solid #000;
}
#gallery .gallery__bg--slider {
  margin: 0 calc(50% - 42vw);
  width: 92vw;
}
#gallery .gallery__bg--slider .swiper-slide {
  width: 25%;
  padding-top: 52rem;
}

/*-------------------------
    studio
-------------------------*/
#studio .studio__container {
  width: 74%;
  background-image: url(./../../images/top/studio_bg.jpg);
}
#studio .studio__container h2 {
  color: #fff;
  line-height: 1;
}

/*-------------------------
    studio
-------------------------*/
#recruit {
  background: #E3DFDA;
}
#recruit .recruit__container {
  width: 72%;
}
#recruit .recruit__content--img {
  background-image: url(./../../images/top/recruit_img.jpg);
}

/*-------------------------
    whats
-------------------------*/
#whats .top {
  height: 20rem;
  overflow: hidden;
  margin-top: -30rem;
}
#whats .top::before {
  content: "";
  width: 140vw;
  height: 50rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  left: -18%;
  right: 0;
  margin: auto;
  z-index: 10;
}
#whats .whats__container {
  width: 74%;
}
#whats .whats__container a .whats__img {
  background-image: url(./../../images/top/company_bg.jpg);
}
#whats .whats__container a h2 {
  color: #fff;
}
#whats .whats__container--text {
  color: #767676;
  letter-spacing: 0.15em;
}
#whats .whats__container--slider {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  overflow: hidden;
}
#whats .whats__container--slider .swiper-wrapper {
  transition-timing-function: linear;
}
#whats .whats__container--slider img {
  margin-right: 20rem;
}
#whats .whats__container small {
  font-size: 10px;
  color: #000000;
  margin-left: 38rem;
}

/*-------------------------
    footer
-------------------------*/
#footer #contact {
  background-image: url(./../../images/common/contact_bg.jpg);
}
#footer #contact a {
  border: 1px solid #fff;
  width: 420px;
}
#footer #contact a h2 {
  color: #fff;
  line-height: 1;
  font-size: 3rem;
}
#footer .footer__content {
  background-color: #E3DFDA;
}
#footer .footer__content .footer__wrapper {
  width: 87%;
}
#footer .footer__content .footer__wrapper h2 {
  text-align: left;
}
#footer .footer__content .footer__wrapper--link {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
#footer .footer__content .footer__wrapper--link .sitemap ul {
  width: 30%;
}
#footer .footer__content .footer__wrapper--link .sitemap ul li {
  margin-bottom: 3rem;
  width: 50%;
}
#footer .footer__content .footer__wrapper--link .sitemap ul li a {
  font-size: 1.5rem;
}
#footer .footer__content .footer__wrapper--link .sitemap ul li a span {
  font-family: "Noto Sans JP", sans-serif;
}
#footer .footer__content .footer__wrapper--link .sitemap .reserve a {
  width: 360px;
  border: 1px solid #000;
  color: #000;
}
#footer .footer__content .footer__wrapper--link .info__content {
  width: 62%;
}
#footer .footer__content .footer__wrapper--link .info__content--address {
  width: 42%;
}
#footer .footer__content .footer__wrapper--link .info__content--sns p {
  padding-right: 2.5rem;
  margin-right: 2.5rem;
  border-right: 1px solid #000;
}

/*-------------------------
    固定ページ共通
-------------------------*/
#news {
  background-color: #E3DFDA;
}
#news .news__container {
  width: 68.75%;
}
#news .news__container .flex .sidebar {
  width: 22.7%;
}
#news .news__container .flex .sidebar .sidebar__content ul li a {
  font-size: 1.5rem;
  color: #000;
  font-family: "Noto Sans JP", sans-serif;
}
#news .news__container .flex .news__content {
  width: 77.27%;
}
#news .news__container .flex .news__content dl {
  border-top: 1px solid #000;
}
#news .news__container .flex .news__content dl:last-of-type {
  border-bottom: 1px solid #000;
}
#news .news__container .flex .news__content dl dt span {
  font-family: "Noto Sans JP", sans-serif;
}
#news .news__container .flex .news__content dl dd a h3 {
  font-family: "Noto Sans JP", sans-serif;
}

.news-container {
  display: flex;
  position: relative;
}

.news-list {
  width: 60%;
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10rem;
}
.pagination button,
.pagination .current,
.pagination .dots {
  padding: 8px 12px;
  margin: 0 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}
.pagination .current {
  font-weight: bold;
  color: #000;
}
.pagination button:hover {
  background-color: #ddd;
}
.pagination .dots {
  cursor: default;
}

#news-detail {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -100%;
  width: 63%;
  box-sizing: border-box;
  height: 100%;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 1s ease-in-out;
  overflow-y: auto;
  padding-top: 19rem;
  padding-left: 10rem;
  padding-right: 20rem;
  padding-bottom: 13rem;
}
#news-detail.active {
  right: 0;
}
#news-detail .news-content #news-content-area .ttl {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}
#news-detail .news-content #news-content-area .ttl span.time {
  font-size: 15px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  display: block;
}
#news-detail .news-content #news-content-area .ttl h4 {
  font-size: 2.8rem;
}
#news-detail .news-content #news-content-area .detail__content {
  margin-bottom: 60px;
}
#news-detail .news-content #news-content-area .detail__content img {
  margin-bottom: 40px;
}
#news-detail .news-content #news-content-area .detail__content p {
  font-size: 2rem;
  line-height: 1.5em;
  margin-bottom: 40px;
}

.close-btn {
  position: absolute;
  top: 10rem;
  right: 20rem;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.news-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.news-navigation button {
  color: #000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.news-navigation button:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.news-navigation button:hover {
  background: #005bb5;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 998;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
