@use "./variables";
@use "./reset";
@use "./mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

#page__mv {
    background-image: url(./../../images/menu/menu_mv.jpg);
    @media screen and (max-width: 768px) {
        padding-top: 484px;
    }
}
.menu__ttl {
    @media screen and (max-width: 768px) {
        padding-top: 70px;
    }
    
    p {
        font-size: 10px;
    }
    @media screen and (max-width: 768px) {
        strong {
            font-size: 15px;
        }
    }
}
.menu__link {
    li {
        border-right: 1px solid #000;
        line-height: 1.2;
        &:last-child {
            border-right: none;
        }
    }
    @media screen and (max-width: 768px) {
        margin-bottom: 64px;
        flex-wrap: wrap;
        li {
            padding: 0 15px;
            margin-bottom: 10px;
            a {
                font-size: 12px;
            }
        }
    }

}

.menu__wrapper {
    dl.menu__list {
        background-color: #E3DFDA;
        border-bottom: 1px solid #000;
        &:last-of-type {
            border-bottom: none;
        }
        dt {
            width: 69%;
            position: relative;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                justify-content: space-between;
                width: 80%;
                padding: 45px 0;
            }
            p {
                width: 23%;
                @media screen and (max-width: 768px) {
                    font-size: 25px;
                    width: 100%;
                }
            }
            span {
                width: 77%;
                @media screen and (max-width: 768px) {
                    font-size: 12px;
                    width: 64%;
                    text-align: right;
                    margin-right: 16%;
                }
            }
            &::before {
                content: "";
                width: 20px;
                height: 1px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: #000;
            }
            &::after {
                content: "";
                width: 1px;
                height: 20px;
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                background-color: #000;
                opacity: 1;
                transition: all 0.3s;
            }
            &.open {
                &::after {
                    opacity: 0;
                }
            }
        }
        dd {
            background-color: #fff;
            display: none;
            @media screen and (max-width: 768px) {
                padding-top: 44px;
            }
            .menu__content {
                width: 58%;
                margin-left: 31%;
                margin-right: 20.8%;
                ul {
                    li {
                        position: relative;
                        padding-bottom: 14rem;
                        box-sizing: border-box;
                        
                        padding-top: 5rem;
                        .menu__content--price {
                            width: 33%;
                        }
                        &::before {
                            content: "";
                            width: 25rem;
                            height: 82%;
                            background-color: #E3DFDA;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                        .first {
                            position: relative;
                            z-index: 10;
                            padding-right: 8rem;
                            b {
                                width: 70%;
                                span {
                                    font-size: 12px;
                                    padding-left: 4rem;
                                }
                            }
                        }
                        .second {
                            position: relative;
                            z-index: 10;
                            padding-right: 8rem;
                            p {
                                width: 70%;
                                font-size: 2rem;
                            }
                            &.first-second {
                                border-bottom: 1px solid #707070;
                            }
                            .second__list {
                                margin-top: 5rem;
                                width: 100%;
                                &:first-of-type {
                                    margin-bottom: 4rem;
                                    .menu__content--price {
                                        span.big {
                                            font-size: 3rem;
                                        }
                                    }
                                }
                            }

                        }
                        p.notes {
                            font-size: 15px;
                            margin-top: 18px;
                        }
                    }
                }

                @media screen and (max-width: 768px) {
                    width: 85%;
                    margin-left: auto;
                    margin-right: auto;
                    ul {
                        margin-bottom: 30px;
                        li {
                            b {
                                font-size: 22px;
                            }
                            p {
                                font-size: 12px;
                            }
                            .menu__content--price {
                                span {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .menu__salon {
        width: 67%;
        border-top: 1px solid #707070;
        @media screen and (max-width: 768px) {
            width: 85%;
            padding: 50px 0;
            .menu__salon--ttl {
                p{
                    font-size: 12px;
                }
            }
        }
        .menu__list {
            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
            }
            &::after {
                content: "";
                width: 29.48%;
                display: block;
            }
            &--items {
                width: 29.48%;
                margin-bottom: 30px;
                .thumb {
                    padding-top: 24.5rem;
                    background-image: url(./../../images/menu/thumb.jpg);
                }
                @media screen and (max-width: 768px) {
                    width: 100%;
                    .thumb {
                        padding-top: 204px;
                        margin-bottom: 20px;
                    }
                    a {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

.fadeUpTrigger {
    opacity: 0;
    transform: translateY(50px); /* 50px 下に配置 */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* 画面内に入ったら表示 */
.fadeUp {
    opacity: 1;
    transform: translateY(0);
}