@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* IE */
main {
  display: block;
}

/*font読み込み*/
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, p, q, samp,
small, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 0.520835vw;
  overflow: visible;
}

body {
  font-family: "Cinzel", "Noto Serif JP", Arial, "Hiragino Sans", Meiryo, sans-serif;
  font-size: 88%;
  line-height: 1.5;
  font-weight: 400;
  min-width: 1100px;
  color: #2E1616;
  text-align: justify;
  background-color: #fff;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 1px;
  }
}
main {
  display: block;
}

p img {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a.noneOutline {
  outline: none;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, nav {
  display: block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
ul {
  list-style: none;
}

/*引用符の表示が出ないようにしています*/
blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
  color: #845b33;
}

a img {
  border: none;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  padding: 0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
  vertical-align: middle;
}

/*画像を縦に並べたときに余白が出てしまわないように*/
img {
  vertical-align: bottom;
}

.clearfix:after {
  content: "."; /* 新しい要素を作る */
  display: block; /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*/ /*/
height: auto;
overflow: hidden;
/**/
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=submit],
input[type=button] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

input[type=date] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  background-color: #fff;
  height: 36px;
  padding: 8px;
  box-sizing: border-box;
}

input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
  display: none;
}

input[type=submit]::focus,
input[type=button]::focus {
  outline-offset: -2px;
}

textarea {
  border: none;
  -webkit-appearance: none;
  max-width: 100%;
}

@font-face {
  font-family: "NotoSansCJKjp";
  font-style: normal;
  font-weight: 900;
  src: url("./../fonts/NotoSansCJKjp-Black.woff") format("woff");
  font-display: swap;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
#page__mv {
  background-image: url(./../../images/menu/menu_mv.jpg);
}
@media screen and (max-width: 768px) {
  #page__mv {
    padding-top: 484px;
  }
}

@media screen and (max-width: 768px) {
  .menu__ttl {
    padding-top: 70px;
  }
}
.menu__ttl p {
  font-size: 10px;
}
@media screen and (max-width: 768px) {
  .menu__ttl strong {
    font-size: 15px;
  }
}

.menu__link li {
  border-right: 1px solid #000;
  line-height: 1.2;
}
.menu__link li:last-child {
  border-right: none;
}
@media screen and (max-width: 768px) {
  .menu__link {
    margin-bottom: 64px;
    flex-wrap: wrap;
  }
  .menu__link li {
    padding: 0 15px;
    margin-bottom: 10px;
  }
  .menu__link li a {
    font-size: 12px;
  }
}

.menu__wrapper dl.menu__list {
  background-color: #E3DFDA;
  border-bottom: 1px solid #000;
}
.menu__wrapper dl.menu__list:last-of-type {
  border-bottom: none;
}
.menu__wrapper dl.menu__list dt {
  width: 69%;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .menu__wrapper dl.menu__list dt {
    justify-content: space-between;
    width: 80%;
    padding: 45px 0;
  }
}
.menu__wrapper dl.menu__list dt p {
  width: 23%;
}
@media screen and (max-width: 768px) {
  .menu__wrapper dl.menu__list dt p {
    font-size: 25px;
    width: 100%;
  }
}
.menu__wrapper dl.menu__list dt span {
  width: 77%;
}
@media screen and (max-width: 768px) {
  .menu__wrapper dl.menu__list dt span {
    font-size: 12px;
    width: 64%;
    text-align: right;
    margin-right: 16%;
  }
}
.menu__wrapper dl.menu__list dt::before {
  content: "";
  width: 20px;
  height: 1px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #000;
}
.menu__wrapper dl.menu__list dt::after {
  content: "";
  width: 1px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #000;
  opacity: 1;
  transition: all 0.3s;
}
.menu__wrapper dl.menu__list dt.open::after {
  opacity: 0;
}
.menu__wrapper dl.menu__list dd {
  background-color: #fff;
  display: none;
}
@media screen and (max-width: 768px) {
  .menu__wrapper dl.menu__list dd {
    padding-top: 44px;
  }
}
.menu__wrapper dl.menu__list dd .menu__content {
  width: 58%;
  margin-left: 31%;
  margin-right: 20.8%;
}
.menu__wrapper dl.menu__list dd .menu__content ul li {
  position: relative;
  padding-bottom: 14rem;
  box-sizing: border-box;
  padding-top: 5rem;
}
.menu__wrapper dl.menu__list dd .menu__content ul li .menu__content--price {
  width: 33%;
}
.menu__wrapper dl.menu__list dd .menu__content ul li::before {
  content: "";
  width: 25rem;
  height: 82%;
  background-color: #E3DFDA;
  position: absolute;
  right: 0;
  top: 0;
}
.menu__wrapper dl.menu__list dd .menu__content ul li .first {
  position: relative;
  z-index: 10;
  padding-right: 8rem;
}
.menu__wrapper dl.menu__list dd .menu__content ul li .first b {
  width: 70%;
}
.menu__wrapper dl.menu__list dd .menu__content ul li .first b span {
  font-size: 12px;
  padding-left: 4rem;
}
.menu__wrapper dl.menu__list dd .menu__content ul li .second {
  position: relative;
  z-index: 10;
  padding-right: 8rem;
}
.menu__wrapper dl.menu__list dd .menu__content ul li .second p {
  width: 70%;
  font-size: 2rem;
}
.menu__wrapper dl.menu__list dd .menu__content ul li .second.first-second {
  border-bottom: 1px solid #707070;
}
.menu__wrapper dl.menu__list dd .menu__content ul li .second .second__list {
  margin-top: 5rem;
  width: 100%;
}
.menu__wrapper dl.menu__list dd .menu__content ul li .second .second__list:first-of-type {
  margin-bottom: 4rem;
}
.menu__wrapper dl.menu__list dd .menu__content ul li .second .second__list:first-of-type .menu__content--price span.big {
  font-size: 3rem;
}
.menu__wrapper dl.menu__list dd .menu__content ul li p.notes {
  font-size: 15px;
  margin-top: 18px;
}
@media screen and (max-width: 768px) {
  .menu__wrapper dl.menu__list dd .menu__content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu__wrapper dl.menu__list dd .menu__content ul {
    margin-bottom: 30px;
  }
  .menu__wrapper dl.menu__list dd .menu__content ul li b {
    font-size: 22px;
  }
  .menu__wrapper dl.menu__list dd .menu__content ul li p {
    font-size: 12px;
  }
  .menu__wrapper dl.menu__list dd .menu__content ul li .menu__content--price span {
    font-size: 12px;
  }
}
.menu__wrapper .menu__salon {
  width: 67%;
  border-top: 1px solid #707070;
}
@media screen and (max-width: 768px) {
  .menu__wrapper .menu__salon {
    width: 85%;
    padding: 50px 0;
  }
  .menu__wrapper .menu__salon .menu__salon--ttl p {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .menu__wrapper .menu__salon .menu__list {
    flex-wrap: wrap;
  }
}
.menu__wrapper .menu__salon .menu__list::after {
  content: "";
  width: 29.48%;
  display: block;
}
.menu__wrapper .menu__salon .menu__list--items {
  width: 29.48%;
  margin-bottom: 30px;
}
.menu__wrapper .menu__salon .menu__list--items .thumb {
  padding-top: 24.5rem;
  background-image: url(./../../images/menu/thumb.jpg);
}
@media screen and (max-width: 768px) {
  .menu__wrapper .menu__salon .menu__list--items {
    width: 100%;
  }
  .menu__wrapper .menu__salon .menu__list--items .thumb {
    padding-top: 204px;
    margin-bottom: 20px;
  }
  .menu__wrapper .menu__salon .menu__list--items a p {
    font-size: 16px;
  }
}

.fadeUpTrigger {
  opacity: 0;
  transform: translateY(50px); /* 50px 下に配置 */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* 画面内に入ったら表示 */
.fadeUp {
  opacity: 1;
  transform: translateY(0);
}/*# sourceMappingURL=menu.css.map */