@use "./variables";
@use "./reset";
@use "./mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

#header {
    background-color: #fff;
    position: sticky;
}
#toggle div span {
    background-color: #000;
}

#page-news {
    background-color: #F8F8F8;
    .news__container {
        width: 68.75%;
        .flex {
            .sidebar {
                width: 22.7%;
                .sidebar__content {
                    ul {
                        li {
                            a {
                                font-size: 1.5rem;
                                color: #000;
                                font-family: "Noto Sans JP", sans-serif;
                            }
                        }
                    }
                }
            }

            .news__content {
                width: 77.27%;
                dl {
                    border-top: 1px solid #000;
                    &:last-of-type {
                        border-bottom: 1px solid #000;
                    }
                    dt {
                        span {
                            font-family: "Noto Sans JP", sans-serif;
                        }
                    }
                    dd {
                        a {
                            h3 {
                                font-family: "Noto Sans JP", sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }
}

.news-container {
    display: flex;
    position: relative;
}

.news-list {
    width: 60%;
    padding: 20px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10rem;

    button,
    .current,
    .dots {
        padding: 8px 12px;
        margin: 0 4px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
    }

    .current {
        font-weight: bold;
        color: #000;
    }

    button:hover {
        background-color: #ddd;
    }

    .dots {
        cursor: default;
    }
}

.news-detail {
    position: fixed;
    
    top: 0;
    right: -100%;
    width: 63%;
    box-sizing: border-box;
    height: 100%;
    background: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    padding-top: 19rem;
    padding-left: 10rem;
    padding-right: 20rem;

    &.active {
        right: 0;
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.news-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    button {
        color: #000;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;

        &:disabled {
            background: #ccc;
            cursor: not-allowed;
        }

        &:hover {
            background: #005bb5;
        }
    }
}

