@use "./variables";
@use "./reset";
@use "./mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

ul.cat__list {
    width: 45%;
    li {
        width: 13.5%;
        font-size: 10px;
        margin-bottom: 10px;
        &:last-of-type {
            margin-right: 0;
        }
    }
}
.salon__menu--list {
    color: #274875;
    border-color: #274875;
}
.salon__wrapper {
    .salon__slider {
        overflow: hidden;
        .swiper-wrapper {
            .swiper-slide {
                
                padding-top: 69.2rem;
            }
        }
    }
}
.salon__solo--img {
    width: 58%;
    .solo__img {
        padding-top: 68.9rem;
    }
}